# Notebook
anywidget
ipykernel
ipywidgets
nbformat
nbstripout

# Data Processing
numba
numpy
polars
plotly
pydantic
rapidfuzz
scipy
sentence-transformers

# Progress Bar
tqdm

# Formatting
pre-commit
black
black[jupyter]
isort
mypy
