# Notebook
anywidget
ipykernel
ipywidgets
nbformat
nbstripout

# Data Processing
numpy
plotly
pydantic
scipy
sentence-transformers

# Progress Bar
tqdm

# Formatting
pre-commit
black
black[jupyter]
isort
mypy
