# Notebook
anywidget
ipykernel
ipywidgets
nbformat
nbstripout

# Data Processing
numba
numpy
polars
plotly
pydantic
rapidfuzz
scipy
sentence-transformers

# Server Access
boto3
requests

# Progress Bar
tqdm

# Formatting
pre-commit
black
black[jupyter]
isort
mypy

# Docs
autodoc-pydantic==2.2.0
nbsphinx==0.9.8
nbsphinx-link==1.3.1
pydata-sphinx-theme==0.16.1
sphinx-autodoc-typehints==3.5.2
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
# sphinx not included in requirements.txt to avoid backward compatibility issues
# the necessary version should be inferred from these extensions
